.contato {
    position: absolute;
    height: auto;
    width: 350px;
    border: 1px solid #000;
    border-radius: 20px;
    text-align: center;
    margin-top: 10px;
    margin-left: 40%;
    font-size: 12px;
    background-color: bisque;
}

.contato h1 {
    font-size: 30px;
    margin: 10px
}

.contato .form_nome,
.contato .form_email {
    margin: 10px
}

.contato .form_msg {
    margin: 10px
}

.contato .form_msg label {
    text-transform: uppercase
}

.contato .btn_form {
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    padding: 0 6px;
    border: none;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    background-color: #fff;
    box-shadow: 0 6px #a9a9a9;
    text-align: center;
}
.btn_form:hover{
    background-color: #3ebd73;
    cursor: pointer;
}
.contato .btn_form:active {
    text-align: center;
    transform: translateY(2px);
    background-color: white;
        color: rgb(13, 54, 40);
    transition: 1ms;
    box-shadow: 0 4px #a9a9a9;
}

/* CSS DA PAGINA CONTATO*************************************************************************************************ok */